<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="Cards Cards_refresh" th:fragment="cardFragment (booksList, pageName, objId)">
        <div class="Card" th:each="book : ${booksList}">
            <div class="Card-picture">
                <a href="#a" th:href="${book.id}">
                    <img src="/assets/img/content/main/card.jpg" th:src="${book.image}" alt="card.jpg"/>
                    <div th:if="${book.discountPrice} lt ${book.price}">
                        <div class="Card-sale" th:text="|${book.discount}% скидка|">Скидка
                        </div>
                    </div>
                </a>
            </div>
            <div class="Card-content">
                <strong class="Card-title">
                    <a href="#" th:href="${book.id}" th:text="${book.title}">Книга</a>
                </strong>
                <div class="Card-description" th:text="${book.authors}">Автор</div>
                <div class="Card-cost">
                    <div th:if="${book.discountPrice} lt ${book.price}">
                        <span class="Card-priceOld" th:text="${book.price}">Старая цена</span>
                    </div>
                    <span class="Card-price" th:text="${book.discountPrice}">Новая цена</span>
                </div>
            </div>
        </div>
        <div class="Cards-footer Cards-footer_center">
            <a class="btn btn_primary" href="#" data-refreshshow="recent"
               th:attr="data-refreshshow=${pageName},data-refreshid=${objId}"
               data-refreshoffset="0" data-refreshlimit="20"
               data-refreshid="1"
               th:text="#{button.more}">Показать еще</a>
        </div>
    </div>
</body>
</html>