<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="Cards Cards_refresh" th:fragment="cardFragment (booksList, pageName, objId)">
        <div class="Card" th:each="book : ${booksList}">
            <div class="Card-picture">
                <a href="#" th:href="@{'/books/' + ${book.slug}}">
                    <img src="/assets/img/content/main/card.jpg" th:src="${book.image}" alt="card.jpg"/>
                    <div th:if="${book.discountPrice} lt ${book.price}">
                        <div class="Card-sale" th:text="|${book.discount}% скидка|">Discount</div>
                    </div>
                    <div class="Card-ribbon">
                        <span class="Card-ribbonText" th:if="${book.isBestseller}">Bestseller</span>
                    </div>
                    <a class="Card-status" title="Куплена" th:if="${#strings.equals(book.status, 'PAID')}">
                        <img src="/assets/img/icons/check.svg" alt="check.svg"/>
                    </a>
                    <a class="Card-status" title="В корзине" th:if="${#strings.equals(book.status, 'CART')}">
                        <img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/>
                    </a>
                    <a class="Card-status" title="Отложена" th:if="${#strings.equals(book.status, 'KEPT')}">
                        <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>
                    </a>
                    <a class="Card-status" title="Заархивирована" th:if="${#strings.equals(book.status, 'ARCHIVED')}">
                        <img src="/assets/img/icons/archive.svg" alt="archive.svg"/>
                    </a>
                </a>
            </div>
            <div class="Card-content">
                <strong class="Card-title">
                    <a href="#" th:href="@{'/books/' + ${book.slug}}" th:text="${book.title}">Title</a>
                </strong>
                <div class="Card-description" th:if="${not #strings.contains(book.authors, ',')}"
                     th:text="${book.authors}">Author</div>
                <div class="Card-description" th:if="${#strings.contains(book.authors, ',')}">
                    <span th:text="${#strings.setSplit(book.authors, ',')[0]}">Author</span>
                    <span th:text="#{books.pool.others}"> and others</span>
                </div>
                <div class="Card-cost">
                    <span th:if="${book.discountPrice} lt ${book.price}">
                        <span class="Card-priceOld" th:text="${'₽' + book.price}">Price old</span>
                    </span>
                    <span class="Card-price" th:text="${'₽' + book.discountPrice}">Price actual</span>
                </div>
            </div>
        </div>
        <div class="Cards-footer Cards-footer_center" th:if="${not #strings.equals(pageName, 'none')}">
            <a class="btn btn_primary" href="#" data-refreshshow="recent"
               th:attr="data-refreshshow=${pageName},data-refreshid=${objId}"
               data-refreshoffset="0" data-refreshlimit="20"
               data-refreshid="1"
               th:text="#{button.more}">More</a>
        </div>
    </div>
</body>
</html>