<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/common_head_tag_fragment :: headTagFragment (#{title.contacts})}"></head>
<body class="Site">
  <header th:replace="${isAuthenticated} ?
    ~{fragments/authorized_header_fragment :: headFragmentAuth ('')} : ~{fragments/common_header_fragment :: headFragment ('')}">
  </header>
  <div class="Middle">
    <div class="Middle-top">
      <div class="wrap">
        <h1 class="Middle-title" th:text="#{menu.contacts}">Contacts</h1>
      </div>
    </div>
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item">
            <a href="/index" th:href="@{/}" th:text="#{menu.main}">Main</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current">
            <span th:text="#{menu.contacts}">Contacts</span>
          </li>
        </ul>
        <div class="Contacts">
          <div class="row">
            <div class="row-block">
              <h2 th:text="#{menu.contacts}">Contacts</h2>
              <div class="Contacts-prop">
                <strong class="Contacts-propTitle" th:text="#{page.contacts.phone}">Phone:
                </strong><span class="Contacts-propContent">8 (000) 000-00-00</span>
              </div>
              <div class="Contacts-prop">
                <strong class="Contacts-propTitle">E-mail:
                </strong><span class="Contacts-propContent">test@flotskiybookshop.net</span>
              </div>
              <div class="Contacts-prop">
                <strong class="Contacts-propTitle" th:text="#{page.contacts.telegram}">TG:
                </strong><span class="Contacts-propContent">@flotskiybookshop</span>
              </div>
            </div>
            <div class="row-block">
              <div class="Contacts-form">
                <h2 th:text="#{page.contacts.contact}">Contact us:</h2>
                <form class="form" action="#" method="post">
                  <div class="form-group">
                    <input class="form-input" th:if="${not isAuthenticated}"
                           id="name" name="name" type="text" placeholder="Enter name" data-validate="require"
                           th:placeholder="#{page.contacts.enter.name}" th:value="${form} ? ${form.name}"/>
                  </div>
                  <div class="form-group">
                    <input class="form-input form-input_mail" th:if="${not isAuthenticated}"
                           id="mail" name="mail" type="text" placeholder="Enter e-mail" data-validate="mail require"
                           th:placeholder="#{page.contacts.enter.mail}" th:value="${form} ? ${form.mail}"/>
                  </div>
                  <div class="form-group">
                    <input class="form-input" id="topic" name="topic" type="text" placeholder="Enter theme"
                           th:placeholder="#{page.contacts.enter.theme}" th:value="${form} ? ${form.topic}"
                           data-validate="require"/>
                  </div>
                  <div class="form-group">
                    <textarea class="form-textarea Contacts-message" name="message" id="message"
                              placeholder="Enter message" data-validate="require" th:text="${form} ? ${form.message}"
                              th:placeholder="#{page.contacts.enter.message}"></textarea>
                  </div>
                  <div class="form-group">
                    <button class="btn btn_primary form-btn" type="submit" id="sendMessage" th:text="#{button.send}">Send
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <br><br>
          <div class="Topup-fail" th:if="${#strings.equals(fail, 'true')}"
               th:text="#{page.contacts.fail}">Fail</div>
          <div class="Topup-success" th:if="${#strings.equals(fail, 'false')}"
               th:text="#{page.contacts.success}">Success
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="${isAuthenticated} ?
   ~{fragments/authorized_footer_fragment :: footFragmentAuth} : ~{fragments/common_footer_fragment :: footFragment}">
  </footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body></html>