<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/common_head_tag_fragment :: headTagFragment (#{title.faq})}"></head>
<body class="Site">
  <header th:replace="${isAuthenticated} ?
    ~{fragments/authorized_header_fragment :: headFragmentAuth ('')} : ~{fragments/common_header_fragment :: headFragment ('')}">
  </header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item">
            <a href="/index" th:href="@{/}" th:text="#{menu.main}">Main</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current">
            <span th:text="#{menu.faq}">Help</span>
          </li>
        </ul>
        <h1 class="Middle-title" th:text="#{menu.faq}">Help
        </h1>
        <div class="FAQ" >
          <strong class="FAQ-title" th:text="#{page.faq.faq}">FAQ:
          </strong>
          <div class="HideBlock FAQ-block" th:each="faq : ${faqList}">
            <header class="HideBlock-header HideBlock-trigger">
              <strong class="HideBlock-title" th:text="*{faq.question}">Why
              </strong>
              <button class="HideBlock-btn" type="button">
              </button>
            </header>
            <div class="HideBlock-content" th:utext="*{faq.answer}">
              <p>The reason is</p>
            </div>
          </div>
          <div class="FAQ-footer">
            <p class="FAQ-link"><span th:text="#{page.faq.or}">Or&#32;</span>
              <a href="/contacts" th:href="@{/contacts}" th:text="#{page.faq.contact}">contact us</a>
            </p>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="${isAuthenticated} ?
   ~{fragments/authorized_footer_fragment :: footFragmentAuth} : ~{fragments/common_footer_fragment :: footFragment}">
  </footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>