
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/common_head_tag_fragment :: headTagFragment (#{title.recent})}"></head>
<body class="Site">
  <header th:replace="${isAuthenticated} ?
    ~{fragments/authorized_header_fragment :: headFragmentAuth ('')} : ~{fragments/common_header_fragment :: headFragment ('')}">
  </header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="/" th:text="#{menu.main}">Главная</a>
          </li>
          <li class="breadcrumbs-item"><a href="/genres" th:text="#{menu.books}">Книги</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="#{menu.recent}">Новинки</span>
          </li>
        </ul>
        <div class="Section">
          <div class="Section-header">
            <h1 class="Section-title" th:text="#{menu.recent}">Новинки
            </h1>
            <form class="form form_inline Section-header-form" action="#"
                  method="post">
              <div class="form-group">
                <label class="form-label">с
                </label>
                <input class="form-input form-input_date form-input_date_uninit"
                       id="fromdaterecent" name="fromdaterecent" type="text"
                       th:object="${from}"
                       placeholder="Дата" data-refreshoffset="0" data-refreshlimit="20"
                       data-refreshshow="changedate" data-refreshfrom="0" autocomplete="off"/>
              </div>
              <div class="form-group">
                <label class="form-label">по
                </label>
                <input class="form-input form-input_date form-input_date_uninit"
                       id="enddaterecent" name="enddaterecent" type="text"
                       th:object="${to}"
                       placeholder="Дата" data-refreshoffset="0" data-refreshlimit="20"
                       data-refreshshow="changedate" data-refreshto="0" autocomplete="off"/>
              </div>
            </form>
          </div>
          <div th:replace="~{fragments/books_pool_fragment :: cardFragment (${recentBooksPage}, 'recent', '')}"></div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="${isAuthenticated} ?
   ~{fragments/authorized_footer_fragment :: footFragmentAuth} : ~{fragments/common_footer_fragment :: footFragment}">
  </footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body></html>