
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

<head th:replace="~{fragments/common_head_tag_fragment :: headTagFragment (${slugBook.title} + ' - Flotskiy Bookshop')}"></head>
<body class="Site">
  <header th:replace="${isAuthenticated} ?
  ~{fragments/authorized_header_fragment :: headFragmentAuth ('')} : ~{fragments/common_header_fragment :: headFragment ('')}">
  </header>
<!--  <header th:if="${not isAuthenticated}" th:replace="~{fragments/common_header_fragment :: headFragment ('')}"></header>-->
<!--  <header th:if="${isAuthenticated}" th:replace="~{fragments/authorized_header_fragment :: headFragmentAuth ('')}"></header>-->
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main" th:object="${slugBook}">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="/" th:href="@{/}" th:text="#{menu.main}">Главная</a>
          </li>
          <li class="breadcrumbs-item"><a href="/genres" th:href="@{/genres}" th:text="#{menu.genres}">Жанры</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current" th:text="*{title}"><span>Название книги</span>
          </li>
        </ul>
        <div class="Product">
          <div class="ProductCard">
            <div class="ProductCard-look">
              <form id="imgForm" method="POST" enctype="multipart/form-data"
                    action="#" th:action="${'/books/' + slugBook.slug + '/img/save'}">
                <div class="ProductCard-photo" id="uploadButton">
                  <img src="/assets/img/content/main/card.jpg" th:src="*{image}" alt="book cover"/>
                  <div th:if="${slugBook.discountPrice} lt ${slugBook.price}">
                    <div class="Card-sale" th:text="|${slugBook.discount}% скидка|">Скидка</div>
                  </div>
                  <div th:if="${slugBook.isBestseller}">
                    <div class="Card-ribbon"><span class="Card-ribbonText">Бестселлер</span>
                    </div>
                  </div>
                </div>
                <input type="file" name="file" id="dialog" style="display: none" accept="image/*"/>
              </form>
            </div>
            <div class="ProductCard-desc">
              <div class="ProductCard-header">
                <h1 class="ProductCard-title" th:text="*{title}">Название книги</h1>
                <div class="ProductCard-author"><span class="ProductCard-titleProp" th:text="#{page.book.author}">Автор:</span>
                  <span th:each="author : *{authors}">
                    <a th:href="|/authors/${author.slug}|" th:text="'&#32;' + ${author.name}">Имя автора</a>
                  </span>
                </div>
                <div class="ProductCard-rating">
                  <span class="ProductCard-titleProp" th:text="#{page.book.rating}">Рейтинг:</span>
                  <button class="trigger trigger_dropdown" type="button">
                    <div class="Rating Rating_noStyleLink">
                      <span th:replace="~{fragments/book_rating_fragment :: rating (${slugBook.rating})}"></span>
                      <span class="Rating-title" th:text="${'(' + detailedRating.count + ')'}">-1</span>
                    </div>
                    <div class="modal modal_compression modal_dropdown">
                      <div class="modal-window">
                        <a class="modal-close" href="#">
                          <span></span>
                          <span></span>
                        </a>
                        <strong class="modal-title">Распределение оценок</strong>
                        <div class="RatingGroup">
                          <span class="Rating">
                            <span class="Rating-stars">
                              <span th:each="i : ${#numbers.sequence(1, 5)}">
                                <span class="Rating-star Rating-star_view">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                    <g>
                                      <g>
                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                              </span>
                            </span>
                            <span class="Rating-title" th:text="${detailedRating.fiveStarsCount}">-1</span>
                          </span>
                          <br>
                          <span class="Rating">
                            <span class="Rating-stars">
                              <span th:each="i : ${#numbers.sequence(1, 4)}">
                                <span class="Rating-star Rating-star_view">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                    <g>
                                      <g>
                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                              </span>
                              <span class="Rating-star">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                              </span>
                            </span>
                            <span class="Rating-title" th:text="${detailedRating.fourStarsCount}">-1</span>
                          </span>
                          <br>
                          <span class="Rating">
                            <span class="Rating-stars">
                              <span th:each="i : ${#numbers.sequence(1, 3)}">
                                <span class="Rating-star Rating-star_view">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                    <g>
                                      <g>
                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                              </span>
                              <span th:each="i : ${#numbers.sequence(4, 5)}">
                                <span class="Rating-star">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                    <g>
                                      <g>
                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                              </span>
                            </span>
                            <span class="Rating-title" th:text="${detailedRating.threeStarsCount}">-1</span>
                          </span>
                          <br>
                          <span class="Rating">
                            <span class="Rating-stars">
                              <span th:each="i : ${#numbers.sequence(1, 2)}">
                                <span class="Rating-star Rating-star_view">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                    <g>
                                      <g>
                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                              </span>
                              <span th:each="i : ${#numbers.sequence(3, 5)}">
                                <span class="Rating-star">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                    <g>
                                      <g>
                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                              </span>
                            </span>
                            <span class="Rating-title" th:text="${detailedRating.twoStarsCount}">-1</span>
                          </span>
                          <br>
                          <span class="Rating">
                            <span class="Rating-stars">
                              <span class="Rating-star Rating-star_view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                  <g>
                                    <g>
                                      <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                    </g>
                                  </g>
                                </svg>
                              </span>
                              <span th:each="i : ${#numbers.sequence(2, 5)}">
                                <span class="Rating-star">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                    <g>
                                      <g>
                                        <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                              </span>
                            </span>
                            <span class="Rating-title" th:text="${detailedRating.oneStarCount}">-1</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
                <div class="ProductCard-assessment">
                  <span class="ProductCard-titleProp" th:text="#{page.book.rate}">Оцените книгу:</span>
                  <span class="Rating Rating_input" data-bookid="2121" th:attr="data-bookid=${slugBook.id}">
                    <span class="Rating-stars">
                      <span class="Rating-star">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                      </span>
                      <input name="rating" type="radio" value="1"/>
                      <span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg>
                      </span>
                      <input name="rating" type="radio" value="2"/>
                      <span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg>
                      </span>
                      <input name="rating" type="radio" value="3"/>
                      <span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg>
                      </span>
                      <input name="rating" type="radio" value="4"/>
                      <span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg>
                      </span>
                      <input name="rating" type="radio" value="5"/>
                    </span>
                  </span>
                </div>
                <div class="ProductCard-tags">
                  <span class="ProductCard-titleProp" th:text="#{page.book.tags}">Тэги:</span>
                  <span th:each="tag : *{tags}">
                    <a href="/tags/" th:href="'/tags/' + ${tag.slug}"
                       th:text="'#' + ${tag.title} + '&#32;'">Название тега</a>
                  </span>
                </div>
                <div class="ProductCard-cost">
                  <span class="ProductCard-titleProp"  th:text="#{page.book.price}">Цена:</span>
                  <span th:if="${slugBook.discountPrice} lt ${slugBook.price}">
                    <span class="ProductCard-priceOld" th:text="*{'₽' + price}">₽300</span>
                  </span>
                  <span class="ProductCard-price" th:text="*{'₽' + discountPrice}">₽180</span>
                </div>
                <!--+div.-info
                //+div.-cost
                //    +div.-price $55.00
                //    +div.-priceOld $115.00
                //+div.-compare
                //    +btn._default
                //        +img('change.svg','icons/card').-icon
                -->
              </div>
              <div class="ProductCard-text">
                <p th:text="*{description}">Описание книги</p>
              </div>
              <div class="ProductCard-cart">
                <!--+div.-cartElement.-cartElement_amount-->
                <!--    +Amount._product-->
                <div class="ProductCard-cartElement">
                  <button class="btn btn_primary btn_outline" data-sendstatus="KEPT"
                          data-bookid="[1111]" th:attr="data-bookid = ${slugBook.slug}"
                          data-btntype="check" data-btnradio="buyblock" data-check="false"
                          data-alttext="Отложена">
                    <span class="btn-icon">
                      <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>
                    </span>
                    <span class="btn-content" th:text="#{button.keep}">Отложить</span>
                  </button>
                </div>
                <div class="ProductCard-cartElement">
                  <button class="btn btn_primary btn_outline" data-sendstatus="CART"
                          data-bookid="[1111]" th:attr="data-bookid = ${slugBook.slug}"
                          data-btntype="check" data-btnradio="buyblock" data-check="false"
                          data-alttext="В корзине">
                    <span class="btn-icon">
                      <img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/>
                    </span>
                    <span class="btn-content" th:text="#{button.buy}">Купить</span>
                  </button>
                </div>
              </div>
              <div class="ProductCard-cart">
                <!--+div.-cartElement.-cartElement_amount-->
                <!--    +Amount._product-->
                <div class="ProductCard-cartElement"><a class="btn btn_primary btn_outline" href="#"><span class="btn-icon"><img src="/assets/img/icons/download.svg" alt="download.svg"/></span><span class="btn-content" th:text="#{button.download}">Скачать</span></a>
                </div>
                <div class="ProductCard-cartElement">
                  <button class="btn btn_primary btn_outline" data-sendstatus="ARCHIVED" data-bookid="[1111]" data-btntype="check" data-btnradio="buyblock" data-check="false" data-alttext="Вернуть из архива"><span class="btn-icon"><img src="/assets/img/icons/archive.svg" alt="archive.svg"/></span><span class="btn-content" th:text="#{button.archive}">В архив</span>
                  </button>
                </div>
              </div>
              <div id="myPopup">
                <p>Ссылки для скачивания</p>
                <div th:each="bookFile : ${slugBook.bookFileDtos}">
                  <a href="#" th:href="${'/books/download/' + bookFile.hash}" th:text="${bookFile.getBookFileExtensionString()}"></a>
                </div>
                <span id="myPopup__close" class="close">X</span>
              </div>
              <div id="myOverlay"></div>
              <!--+div.-cart-->
              <!--    //+div.-cartElement.-cartElement_amount-->
              <!--    //    +Amount._product-->
              <!--    +div.-cartElement-->
              <!--        +btn('button')(data-sendstatus='UNLINK' data-bookid="[1111]")._muted Вернуть из архива-->
            </div>
          </div>
          <div class="Product-comments">
            <div class="Product-comments-header">
              <h3 class="Product-comments-title" th:text="#{page.book.reviews}">Отзывы
              </h3><span class="Product-comments-amount" th:text="${#lists.size(slugBook.bookReviewDtos)}">-1</span>
            </div>
          </div>
          <div class="Comments" th:each="review : ${slugBook.bookReviewDtos}">
            <div class="Comment">
              <div class="Comment-column Comment-column_pict">
                <div class="Comment-avatar">
                </div>
              </div>
              <div class="Comment-column">
                <header class="Comment-header">
                  <div>
                    <strong class="Comment-title">
                      <span th:text="${review.userName}">User name</span>
                      <span class="Comment-rating">
                        <span class="Rating Rating_comment">
                          <span th:replace="~{fragments/book_rating_fragment :: rating (${review.rating})}"></span>
                        </span>
                      </span>
                    </strong>
                    <span class="Comment-date" th:text="${review.time}">dd.MM.yyyy hh:mm</span>
                  </div>
                </header>
                <div class="Comment-content">
                  <div class="Spoiler">
                    <div class="Spoiler-visible">
                      <p th:text="${review.text}">Comment visible</p>
                    </div>
                    <div class="Spoiler-hide" th:if="${review.textHide}">
                      <p th:text="${review.textHide}">Comment hide</p>
                    </div>
                    <div class="Comment-footer">
                      <div class="Comment-appeal">
                        <button class="btn btn_white btn_like" data-btntype="check" data-check="false"
                                data-btnradio="one1" data-likeid="333" th:attr="data-likeid=${review.id}">
                          <span class="btn-icon">
                            <img src="/assets/img/icons/comment/like.svg" alt="like.svg"/>
                          </span>
                          <span class="btn-content" th:text="${review.likeCount}">1</span>
                        </button>
                        <button class="btn btn_white btn_dislike" data-btntype="check" data-check="false"
                                data-btnradio="one1" data-likeid="333" th:attr="data-likeid=${review.id}">
                          <span class="btn-icon">
                            <img src="/assets/img/icons/comment/dislike.svg" alt="dislike.svg"/>
                          </span>
                          <span class="btn-content" th:text="${review.dislikeCount}">-1</span>
                        </button>
                      </div>
                      <button class="Spoiler-trigger btn btn_primary btn_nr"
                              type="button" data-showtext="Свернуть отзыв" data-hidetext="Показать отзыв полностью"
                              th:if="${review.textHide}"
                              th:attr="data-showtext=#{page.book.reviews.wrap},data-hidetext=#{page.book.reviews.full}">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <strong class="Comments-title" th:text="#{page.book.review.new}">Написать отзыв</strong>
          <div class="Comments-addComment">
            <form class="form" action="#" method="post" data-bookid="1111" th:attr="data-bookid=${slugBook.id}">
              <div class="form-group">
                <textarea class="form-textarea Comments-review" name="review" id="review"
                          placeholder="Текст отзыва" th:placeholder="#{page.book.review.text}" data-validate="require">
                </textarea>
              </div>
              <div class="form-group Comments-sendReview">
                <button class="btn btn_warning" type="submit" th:text="#{page.book.review.send}">Отправить отзыв
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="${isAuthenticated} ?
   ~{fragments/authorized_footer_fragment :: footFragmentAuth} : ~{fragments/common_footer_fragment :: footFragment}">
  </footer>
  <footer hidden>
    <div id="err_dialog" title="Attention! ">
      <p>An error has occurred! You may not be logged in 🤔</p>
    </div>
  </footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
  <script src="/assets/js/UploadNewBookImageScript.js"></script>
  <script src="/assets/js/DownloadBookWindowScript.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body></html>